* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f0f14;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e5e5;
}

.app {
  width: 360px;
}

.password-box {
  background: #24242c;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.password-box input {
  background: none;
  border: none;
  color: #a4ffaf;
  font-size: 20px;
  width: 100%;
  outline: none;
}

.password-box button {
  background: none;
  border: none;
  color: #a4ffaf;
  cursor: pointer;
  font-size: 18px;
}

.card {
  background: #24242c;
  padding: 20px;
}

.length {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#length-value {
  color: #a4ffaf;
  font-size: 18px;
}

input[type="range"] {
  width: 100%;
  margin-bottom: 20px;
}

.options label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.options input {
  margin-right: 8px;
}

.strength {
  background: #18171f;
  padding: 15px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.level {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bars span {
  width: 8px;
  height: 20px;
  border: 1px solid #fff;
  display: inline-block;
  margin-left: 3px;
}

.generate-btn {
  width: 100%;
  padding: 15px;
  background: #a4ffaf;
  border: none;
  color: #18171f;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.generate-btn:hover {
  background: #7cf58a;
}
